{block content}

<h1>Úkol převodník teplot</h1>

<form action="" method="post">
    <label for="c">Stupně C</label>
    <input type="text" name="stupne-c" id="c" value = {$stupneC}>

    <label for="f">Stupně F</label>
    <input type="text" name="stupne-f" id="f" value = {$stupneF}>

    <hr>
    <input type="submit" name="submit-c" value="C -> F">
    <input type="submit" name="submit-f" value="F -> C">

</form>

